body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
}
.form {
  max-width: calc(100vw - 40px);
  width: 700px;
  height: auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #fff;
  margin: 3% auto;
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 5px solid #ccc;
}

.form h2 {
  margin: 18px 0;
  padding-bottom: 10px;
  color: #1e439b;
  font-size: 22px;
  border-bottom: 3px solid #ff5501;
  font-weight: 600;
  margin-bottom: 30px;
}
input {
  width: 60%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #bebed2;
  transition: all 0.3s;
}

.user-image img {
  width: 35mm;
  height: 45mm;
  margin: 5px;
  border-radius: 4px;
  border: 4px solid black;
}

.user-container {
  display: flex;
  justify-content: space-between;
}
