<div class="form">
    <h2>User Profile</h2>
    <div class="user-container">
        <div>
            <p><strong>First Name:</strong> {{ loggedInUser.firstName }}</p>
            <p><strong>Last Name:</strong> {{ loggedInUser.lastName }}</p>
            <p><strong>Email:</strong> {{ loggedInUser.email }}</p>
            <p><strong>Phone Number:</strong> {{ loggedInUser.phoneNumber }}</p>
            <p><strong>Gender:</strong> {{ loggedInUser.gender }}</p>
            <p><strong>Date of Birth:</strong> {{ loggedInUser.dateOfBirth }}</p>
            <p><strong>Aadhar No:</strong> {{ loggedInUser.aadharNo }}</p>
        </div>
        <div class="user-image">
            <img src="{{ loggedInUser.image }}" alt="User Image" *ngIf="loggedInUser.image" />

        </div>
    </div>


</div>